.color-bg-white {
  background-color: #F6F7FA;
}

.color-bg-black {
  background-color: #252732;
}

.managament {
  background-color: #FFEDC2;
}

.communication {
  background-color: #F7A1B5;
}

.technology {
  background-color: #4CFACC;
}

.soft {
  background-color: #69D8E7;
}

.tipo-Montserrat {
  font-family: "Montserrat Alternates", sans-serif;
}

.tipo-Raleway {
  font-family: "Raleway", sans-serif;
}

.darkmode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-right: 6px;
  width: 95vw;
}

@media (min-width: 1100px) {
  .darkmode {
    width: 90vw;
  }
}
@media (min-width: 1200px) {
  .darkmode {
    width: 85vw;
  }
}
@media (min-width: 1350px) {
  .darkmode {
    width: 80vw;
  }
}
@media (min-width: 1500px) {
  .darkmode {
    width: 77vw;
  }
}
@media (min-width: 1650px) {
  .darkmode {
    width: 1285.5px;
  }
}
.border-dm, .cover-dm {
  height: 42px;
  width: 96px;
  border-radius: 24px;
}

.border-dm {
  display: inline-block;
  padding: 3px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, #FFEDC2), color-stop(35%, #F7A1B5), color-stop(75%, #4CFACC), color-stop(90%, #69D8E7));
  background-image: linear-gradient(90deg, #FFEDC2 5%, #F7A1B5 35%, #4CFACC 75%, #69D8E7 90%);
}

.cover-dm {
  inset: 0;
  background-color: #E8E9EE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: inset 1px 1px 3px #252732;
          box-shadow: inset 1px 1px 3px #252732;
  overflow: hidden;
}

.button-vector {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: #727897;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(2px, 1px);
          transform: translate(2px, 1px);
  -webkit-box-shadow: 3px 0px 6px #727897;
          box-shadow: 3px 0px 6px #727897;
}

.vector {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 24px;
  width: 24px;
  color: #ADB0C2;
  margin-bottom: 1px;
}

.image-header {
  -webkit-transform: translate(-15px, 36px);
          transform: translate(-15px, 36px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 400px) {
  .image-header {
    -webkit-transform: translate(-33px, 42px);
            transform: translate(-33px, 42px);
  }
}
@media (min-width: 600px) {
  .image-header {
    -webkit-transform: translate(-45px, 42px);
            transform: translate(-45px, 42px);
  }
}
@media (min-width: 850px) {
  .image-header {
    -webkit-transform: translate(-45px, 46px);
            transform: translate(-45px, 46px);
  }
}
@media (min-width: 1050px) {
  .image-header {
    -webkit-transform: translate(28px, 60px);
            transform: translate(28px, 60px);
  }
}
.photo, .shadow {
  width: 200px;
  height: 412.06px;
  background-size: cover;
}

@media (min-width: 850px) {
  .photo, .shadow {
    width: 220px;
    height: 453.26px;
  }
}
@media (min-width: 1050px) {
  .photo, .shadow {
    width: 270px;
    height: 556.28px;
  }
}
.photo {
  background-image: url(../img/me-2.png);
  position: relative;
}

.shadow {
  background-image: url(../img/sombra-2.png);
  position: absolute;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-transform: translate(6px, 24px);
          transform: translate(6px, 24px);
}

.borders {
  padding: 6px;
  -webkit-box-shadow: 6px 6px 9px #727897;
          box-shadow: 6px 6px 9px #727897;
  margin: 18px 18px 36px 18px;
}

@media (min-width: 550px) {
  .borders {
    margin: 42px;
  }
}
@media (min-width: 850px) {
  .borders {
    margin: 6px;
  }
}
@media (min-width: 950px) {
  .borders {
    margin: 18px;
  }
}
.covers {
  inset: 0;
  background-color: #E8E9EE;
}

.sk {
  border-radius: 12%;
  width: 130px;
  height: 102px;
}

@media (min-width: 670px) {
  .sk {
    width: 186px;
    height: 146px;
  }
}
@media (min-width: 850px) {
  .sk {
    width: 130px;
    height: 102px;
  }
}
@media (min-width: 1100px) {
  .sk {
    width: 186px;
    height: 146px;
  }
}
.vectorsout {
  width: 54px;
  height: 54px;
}

@media (min-width: 670px) {
  .vectorsout {
    width: 76px;
    height: 76px;
    padding-top: 12px;
  }
}
@media (min-width: 850px) {
  .vectorsout {
    width: 54px;
    height: 54px;
    padding-top: 0px;
  }
}
@media (min-width: 1100px) {
  .vectorsout {
    width: 76px;
    height: 76px;
    padding-top: 12px;
  }
}
.vectors {
  width: 54px;
  height: 54px;
}

.button-contact {
  padding: 3px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, #FFEDC2), color-stop(35%, #F7A1B5), color-stop(75%, #4CFACC), color-stop(90%, #69D8E7));
  background-image: linear-gradient(90deg, #FFEDC2 5%, #F7A1B5 35%, #4CFACC 75%, #69D8E7 90%);
  border-radius: 12px;
  width: 132px;
  height: 43px;
}

.insidebutton-contact {
  width: 132px;
  height: 43px;
  border-radius: 12px;
  background-color: #ADB0C2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

a:link {
  text-decoration: none;
}

.send {
  width: 89px;
  height: 43px;
}

@media (max-width: 420px) {
  .send {
    width: 18vw;
  }
}
.border {
  -webkit-box-shadow: 6px 6px 9px #727897;
          box-shadow: 6px 6px 9px #727897;
}

.insta-b, .linke-b {
  padding: 3px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, #FFEDC2), color-stop(35%, #F7A1B5), color-stop(75%, #4CFACC), color-stop(90%, #69D8E7));
  background-image: linear-gradient(90deg, #FFEDC2 5%, #F7A1B5 35%, #4CFACC 75%, #69D8E7 90%);
  border-radius: 12px;
  width: 94px;
  height: 94px;
}

.insta-c, .linke-c {
  inset: 0;
  background-color: #E8E9EE;
  border-radius: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 94px;
}

.text-header {
  padding: 0 0 0 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 360px) {
  .text-header {
    padding: 0 0 0 30px;
  }
}
@media (min-width: 560px) {
  .text-header {
    padding: 0 0 0 18px;
  }
}
@media (min-width: 850px) {
  .text-header {
    padding: 0 18px 0 50px;
  }
}
@media (min-width: 1600px) {
  .text-header {
    padding: 0 18px 0 6px;
  }
}
.h1, .paragraph-header {
  height: auto;
}

.h1 {
  font-size: 64px;
  font-weight: 700;
  color: #252732;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(6%, #8F6400), color-stop(#5E081C), color-stop(#024533), to(#0B3F47));
  background: linear-gradient(to bottom right, #8F6400 6%, #5E081C, #024533, #0B3F47);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraph-header {
  padding: 18px 6px 18px 0px;
  font-size: 18px;
  font-weight: 400;
  min-width: 166px;
  max-width: 600px;
  color: #252732;
}

.text-container {
  font-size: 36px;
  font-weight: 700;
  color: #727897;
}

.texts {
  font-size: 16px;
  font-weight: 400;
  color: #252732;
}

.text-modal {
  color: #727897;
  font-weight: 700;
  font-size: 30px;
}

.text-skill-bar {
  font-weight: 400;
  font-size: 22px;
  padding-bottom: 6px;
  padding-left: 3px;
  color: #252732;
}

.text-top-contact {
  font-size: 16px;
  font-weight: 700;
  color: #252732;
}

.text-button {
  font-size: 18px;
  font-weight: 700;
  color: #F6F7FA;
}

.text-title-contact {
  font-size: 36px;
  font-weight: 700;
  color: #252732;
  text-align: center;
}

.text-contact {
  font-size: 18px;
  font-weight: 400;
  color: #252732;
  text-align: center;
}

.text-rrss {
  font-size: 16px;
  font-weight: 400;
  color: #252732;
  padding: 6px;
}

.text-footer {
  font-size: 16px;
  font-weight: 700;
  color: #727897;
}

.open-modal_input {
  display: none;
}

.open-modal_input:checked + [aria=dialog] {
  display: block;
}

[aria=dialog] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(114, 120, 151, 0.5);
  z-index: 100;
}

.modal-border, .modal-container {
  border-radius: 12px;
}

.modal-border {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.modal-container {
  inset: 0;
  position: fixed;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 12px;
  padding-bottom: 36px;
  background-color: #F0F1F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nineskills {
  min-width: 88%;
  height: 703px;
}

@media (min-width: 750px) {
  .nineskills {
    min-width: 85%;
  }
}
@media (min-width: 1300px) {
  .nineskills {
    min-width: 82%;
  }
}
@media (min-width: 1650px) {
  .nineskills {
    min-width: 81%;
  }
}
.sevenskills {
  min-width: 87%;
  height: 660px;
}

@media (min-width: 750px) {
  .sevenskills {
    min-width: 83%;
  }
}
@media (min-width: 1300px) {
  .sevenskills {
    min-width: 82%;
  }
}
@media (min-width: 1650px) {
  .sevenskills {
    min-width: 80%;
  }
}
.sixskills {
  min-width: 88%;
  height: 585px;
}

@media (min-width: 750px) {
  .sixskills {
    min-width: 83%;
  }
}
@media (min-width: 1300px) {
  .sixskills {
    min-width: 82%;
  }
}
@media (min-width: 1650px) {
  .sixskills {
    min-width: 80%;
  }
}
.close {
  width: 30px;
  height: 30px;
}

.skill-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 24px;
  min-width: 50%;
}

.tech {
  padding-top: 12px;
}

.skill-bar {
  height: 18px;
  border-radius: 12px;
  width: 77vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.25px;
}
.skill-bar .skill-bar__interna-m {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, #F5AB00), color-stop(60%, #FFCE5C), color-stop(80%, #FFEDC2), color-stop(90%, #FFF3D6), color-stop(99%, #F0F1F4));
  background-image: linear-gradient(90deg, #F5AB00 20%, #FFCE5C 60%, #FFEDC2 80%, #FFF3D6 90%, #F0F1F4 99%);
  border-radius: 12px;
}
.skill-bar .skill-bar__interna-c {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, #BC1038), color-stop(60%, #EF436B), color-stop(80%, #F7A1B5), color-stop(90%, #FDE8ED), color-stop(99%, #F0F1F4));
  background-image: linear-gradient(90deg, #BC1038 20%, #EF436B 60%, #F7A1B5 80%, #FDE8ED 90%, #F0F1F4 99%);
  border-radius: 12px;
}
.skill-bar .skill-bar__interna-t {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, #037758), color-stop(60%, #06DBA2), color-stop(80%, #4CFACC), color-stop(90%, #B0FDE8), color-stop(99%, #F0F1F4));
  background-image: linear-gradient(90deg, #037758 20%, #06DBA2 60%, #4CFACC 80%, #B0FDE8 90%, #F0F1F4 99%);
  border-radius: 12px;
}
.skill-bar .skill-bar__interna-s {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, #126773), color-stop(60%, #198F9F), color-stop(80%, #69D8E7), color-stop(90%, #C1EFF5), color-stop(99%, #F0F1F4));
  background-image: linear-gradient(90deg, #126773 20%, #198F9F 60%, #69D8E7 80%, #C1EFF5 90%, #F0F1F4 99%);
  border-radius: 12px;
}

.skill-bar__interna-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1%;
          flex: 0 0 1%;
}

.skill-bar__interna-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2%;
          flex: 0 0 2%;
}

.skill-bar__interna-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3%;
          flex: 0 0 3%;
}

.skill-bar__interna-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4%;
          flex: 0 0 4%;
}

.skill-bar__interna-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
}

.skill-bar__interna-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6%;
          flex: 0 0 6%;
}

.skill-bar__interna-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 7%;
          flex: 0 0 7%;
}

.skill-bar__interna-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8%;
          flex: 0 0 8%;
}

.skill-bar__interna-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9%;
          flex: 0 0 9%;
}

.skill-bar__interna-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}

.skill-bar__interna-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11%;
          flex: 0 0 11%;
}

.skill-bar__interna-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12%;
          flex: 0 0 12%;
}

.skill-bar__interna-13 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13%;
          flex: 0 0 13%;
}

.skill-bar__interna-14 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14%;
          flex: 0 0 14%;
}

.skill-bar__interna-15 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
}

.skill-bar__interna-16 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16%;
          flex: 0 0 16%;
}

.skill-bar__interna-17 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17%;
          flex: 0 0 17%;
}

.skill-bar__interna-18 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
}

.skill-bar__interna-19 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19%;
          flex: 0 0 19%;
}

.skill-bar__interna-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.skill-bar__interna-21 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 21%;
          flex: 0 0 21%;
}

.skill-bar__interna-22 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
}

.skill-bar__interna-23 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23%;
          flex: 0 0 23%;
}

.skill-bar__interna-24 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24%;
          flex: 0 0 24%;
}

.skill-bar__interna-25 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.skill-bar__interna-26 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26%;
          flex: 0 0 26%;
}

.skill-bar__interna-27 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
}

.skill-bar__interna-28 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28%;
          flex: 0 0 28%;
}

.skill-bar__interna-29 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 29%;
          flex: 0 0 29%;
}

.skill-bar__interna-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.skill-bar__interna-31 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
}

.skill-bar__interna-32 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
}

.skill-bar__interna-33 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

.skill-bar__interna-34 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34%;
          flex: 0 0 34%;
}

.skill-bar__interna-35 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

.skill-bar__interna-36 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36%;
          flex: 0 0 36%;
}

.skill-bar__interna-37 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37%;
          flex: 0 0 37%;
}

.skill-bar__interna-38 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38%;
          flex: 0 0 38%;
}

.skill-bar__interna-39 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 39%;
          flex: 0 0 39%;
}

.skill-bar__interna-40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.skill-bar__interna-41 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41%;
          flex: 0 0 41%;
}

.skill-bar__interna-42 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
}

.skill-bar__interna-43 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43%;
          flex: 0 0 43%;
}

.skill-bar__interna-44 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44%;
          flex: 0 0 44%;
}

.skill-bar__interna-45 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.skill-bar__interna-46 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 46%;
          flex: 0 0 46%;
}

.skill-bar__interna-47 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
}

.skill-bar__interna-48 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

.skill-bar__interna-49 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
}

.skill-bar__interna-50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.skill-bar__interna-51 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 51%;
          flex: 0 0 51%;
}

.skill-bar__interna-52 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 52%;
          flex: 0 0 52%;
}

.skill-bar__interna-53 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 53%;
          flex: 0 0 53%;
}

.skill-bar__interna-54 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 54%;
          flex: 0 0 54%;
}

.skill-bar__interna-55 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}

.skill-bar__interna-56 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56%;
          flex: 0 0 56%;
}

.skill-bar__interna-57 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
}

.skill-bar__interna-58 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58%;
          flex: 0 0 58%;
}

.skill-bar__interna-59 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 59%;
          flex: 0 0 59%;
}

.skill-bar__interna-60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.skill-bar__interna-61 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 61%;
          flex: 0 0 61%;
}

.skill-bar__interna-62 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 62%;
          flex: 0 0 62%;
}

.skill-bar__interna-63 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 63%;
          flex: 0 0 63%;
}

.skill-bar__interna-64 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64%;
          flex: 0 0 64%;
}

.skill-bar__interna-65 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
}

.skill-bar__interna-66 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66%;
          flex: 0 0 66%;
}

.skill-bar__interna-67 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 67%;
          flex: 0 0 67%;
}

.skill-bar__interna-68 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 68%;
          flex: 0 0 68%;
}

.skill-bar__interna-69 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 69%;
          flex: 0 0 69%;
}

.skill-bar__interna-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

.skill-bar__interna-71 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 71%;
          flex: 0 0 71%;
}

.skill-bar__interna-72 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 72%;
          flex: 0 0 72%;
}

.skill-bar__interna-73 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 73%;
          flex: 0 0 73%;
}

.skill-bar__interna-74 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 74%;
          flex: 0 0 74%;
}

.skill-bar__interna-75 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}

.skill-bar__interna-76 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 76%;
          flex: 0 0 76%;
}

.skill-bar__interna-77 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 77%;
          flex: 0 0 77%;
}

.skill-bar__interna-78 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 78%;
          flex: 0 0 78%;
}

.skill-bar__interna-79 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 79%;
          flex: 0 0 79%;
}

.skill-bar__interna-80 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
}

.skill-bar__interna-81 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 81%;
          flex: 0 0 81%;
}

.skill-bar__interna-82 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 82%;
          flex: 0 0 82%;
}

.skill-bar__interna-83 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83%;
          flex: 0 0 83%;
}

.skill-bar__interna-84 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 84%;
          flex: 0 0 84%;
}

.skill-bar__interna-85 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 85%;
          flex: 0 0 85%;
}

.skill-bar__interna-86 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 86%;
          flex: 0 0 86%;
}

.skill-bar__interna-87 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 87%;
          flex: 0 0 87%;
}

.skill-bar__interna-88 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 88%;
          flex: 0 0 88%;
}

.skill-bar__interna-89 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 89%;
          flex: 0 0 89%;
}

.skill-bar__interna-90 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
}

.skill-bar__interna-91 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91%;
          flex: 0 0 91%;
}

.skill-bar__interna-92 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 92%;
          flex: 0 0 92%;
}

.skill-bar__interna-93 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 93%;
          flex: 0 0 93%;
}

.skill-bar__interna-94 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 94%;
          flex: 0 0 94%;
}

.skill-bar__interna-95 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 95%;
          flex: 0 0 95%;
}

.skill-bar__interna-96 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 96%;
          flex: 0 0 96%;
}

.skill-bar__interna-97 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 97%;
          flex: 0 0 97%;
}

.skill-bar__interna-98 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 98%;
          flex: 0 0 98%;
}

.skill-bar__interna-99 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 99%;
          flex: 0 0 99%;
}

.skill-bar__interna-100 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.m {
  border: 1px solid #8F6400;
}

.c {
  border: 1px solid #5E081C;
}

.t {
  border: 1px solid #024533;
}

.s {
  border: 1px solid #0B3F47;
}

.background {
  background-color: #ADB0C2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: -3;
      -ms-flex: -3;
          flex: -3;
  height: 46px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 0;
}

.logo-footer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

* {
  margin: 0 0 0 0;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.body-master {
  padding: 6px;
}

@media (min-width: 1200px) {
  .body-master {
    padding: 6px 36px 36px 36px;
  }
}
.color-bg {
  background-color: #F6F7FA;
}

header {
  margin-top: 6px;
}

.tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 100%;
  max-width: 100%;
}

@media (min-width: 850px) {
  .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 6px 48px 6px 48px;
    max-width: 1206px;
  }
}
@media (min-width: 1450px) {
  .desktop {
    margin: 0 48px 0 210px;
  }
}
@media (min-width: 1700px) {
  .desktop {
    margin: 0 48px 0 330px;
  }
}
main {
  padding-top: 36px;
}

@media (min-width: 850px) {
  main {
    padding-top: 6px;
  }
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 850px) {
  .container {
    width: 40vw;
    margin: 6px 6px 6px 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media (min-width: 1110px) {
  .container {
    max-width: 478px;
  }
}
.skills {
  padding-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12px;
}

.title-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.modal-vector {
  width: 60px;
  height: 60px;
}

.skills-list {
  margin-top: 36px;
}

@media (min-width: 850px) {
  .endpage {
    width: 40vw;
    margin: 6px 0 6px 48px;
  }
}
@media (min-width: 1110px) {
  .endpage {
    max-width: 444px;
  }
}
@media (min-width: 1080px) {
  .progressbar {
    max-width: 750px;
  }
}
.icon-vector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 90vw;
}

@media (min-width: 850px) {
  .icon-vector {
    min-width: 40vw;
  }
}
@media (min-width: 1100px) {
  .icon-vector {
    min-width: 0;
    max-width: 442px;
  }
}
.linea-vector {
  height: 5px;
  min-width: 80vw;
  margin: 0 12px 0 0;
  -webkit-box-shadow: 3px 3px 6px rgba(37, 39, 50, 0.5);
          box-shadow: 3px 3px 6px rgba(37, 39, 50, 0.5);
  background-color: #727897;
  position: absolute;
  -webkit-transform: translate(15px, -28px);
          transform: translate(15px, -28px);
  z-index: -2;
}

@media (min-width: 320px) {
  .linea-vector {
    min-width: 81vw;
  }
}
@media (min-width: 410px) {
  .linea-vector {
    min-width: 82vw;
  }
}
@media (min-width: 440px) {
  .linea-vector {
    min-width: 86vw;
  }
}
@media (min-width: 670px) {
  .linea-vector {
    min-width: 88vw;
  }
}
@media (min-width: 780px) {
  .linea-vector {
    min-width: 90vw;
  }
}
@media (min-width: 850px) {
  .linea-vector {
    min-width: 34vw;
  }
}
@media (min-width: 880px) {
  .linea-vector {
    min-width: 36vw;
  }
}
@media (min-width: 1110px) {
  .linea-vector {
    min-width: 395px;
  }
}
.pencil {
  height: 30px;
  width: 30px;
  -webkit-transform: translate(21px, 21px);
          transform: translate(21px, 21px);
}

.pencil-comm, .pencil-tech, .pencil-soft {
  visibility: hidden;
}

.point {
  height: 48px;
  width: 48px;
}

.part-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-top: 48px;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .grid {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
    padding-top: 72px;
    margin-bottom: 120px;
  }
}
@media (min-width: 1525px) {
  .grid {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 90px;
    margin-right: 90px;
  }
}
.s-contact {
  padding: 6px;
  max-width: 621px;
}

.title-contact {
  padding: 6px 18px 18px 18px;
  max-width: 595px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 480px) {
  .title-contact {
    padding: 18px;
  }
}
.text-header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 18px 12px 0 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.imagen-contact {
  width: 275px;
  height: 185.5px;
  margin: 6px 18px 6px 18px;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 470px) {
  .formulario {
    margin-top: 48px;
  }
}
@media (min-width: 1525px) {
  .formulario {
    padding-top: 48px;
  }
}
.messageBox {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 413px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 6px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, #FFEDC2), color-stop(35%, #F7A1B5), color-stop(75%, #4CFACC), color-stop(90%, #69D8E7));
  background-image: linear-gradient(90deg, #FFEDC2 5%, #F7A1B5 35%, #4CFACC 75%, #69D8E7 90%);
  border-radius: 12px;
  margin-bottom: 18px;
}

.message {
  width: 82vw;
  min-height: 32px;
  max-width: 380px;
  height: 6vh;
  border-radius: 12px;
  background-color: #E8E9EE;
  border: none;
  padding: 12px;
  resize: none;
}

.button-with-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90vw;
  max-width: 405px;
}

.emailBox {
  padding: 6px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, #FFEDC2), color-stop(35%, #F7A1B5), color-stop(75%, #4CFACC), color-stop(90%, #69D8E7));
  background-image: linear-gradient(90deg, #FFEDC2 5%, #F7A1B5 35%, #4CFACC 75%, #69D8E7 90%);
  border-radius: 12px;
  margin-bottom: 12px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 18px;
}

.email-message {
  border-radius: 6px;
  background-color: #E8E9EE;
  border: none;
  padding: 6px 6px 6px 15px;
  height: 24px;
  width: 238px;
}

@media (max-width: 420px) {
  .email-message {
    width: 55vw;
  }
}
.rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 650px) {
  .rrss {
    margin-right: 55px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (min-width: 850px) {
  .rrss {
    margin-bottom: 48px;
  }
}
@media (prefers-color-scheme: dark) {
  .color-bg {
    background-color: #252732;
  }

  .cover-dm {
    background-color: #727897;
    -webkit-box-shadow: inset 1px 1px 3px #F6F7FA;
            box-shadow: inset 1px 1px 3px #F6F7FA;
  }

  .button-vector {
    background-color: #F0F1F4;
    -webkit-box-shadow: 3px 0px 6px #F0F1F4;
            box-shadow: 3px 0px 6px #F0F1F4;
  }

  .vector {
    color: #727897;
  }

  .borders {
    -webkit-box-shadow: 6px 6px 9px #F0F1F4;
            box-shadow: 6px 6px 9px #F0F1F4;
  }

  .covers {
    inset: 0;
    background-color: #727897;
  }

  .insidebutton-contact {
    background-color: #727897;
  }

  .border {
    -webkit-box-shadow: 6px 6px 9px #F0F1F4;
            box-shadow: 6px 6px 9px #F0F1F4;
  }

  .insta-c, .linke-c {
    background-color: #727897;
  }

  .background {
    background-color: #E8E9EE;
  }

  .modal-container {
    background-color: #727897;
  }

  .insta-c, .linke-c {
    background-color: #727897;
  }

  .h1 {
    color: #F6F7FA;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(6%, #FFEDC2), color-stop(#F7A1B5), color-stop(#4CFACC), to(#69D8E7));
    background: linear-gradient(to bottom right, #FFEDC2 6%, #F7A1B5, #4CFACC, #69D8E7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .paragraph-header {
    color: #F6F7FA;
  }

  .text-container {
    color: #F0F1F4;
  }

  .texts {
    color: #F0F1F4;
  }

  .text-modal {
    color: #F0F1F4;
  }

  .text-skill-bar {
    color: #F6F7FA;
  }

  .text-top-contact {
    color: #F6F7FA;
  }

  .text-button {
    color: #F6F7FA;
  }

  .text-title-contact {
    color: #F6F7FA;
  }

  .text-contact {
    color: #F6F7FA;
  }

  .message {
    background-color: #ADB0C2;
    color: #F0F1F4;
  }

  .email-message {
    background-color: #ADB0C2;
    color: #F0F1F4;
  }

  .text-rrss {
    color: #F6F7FA;
  }
}