//CLASS BASIC COLOR//

    $basic-colors: (
    'white':      $white,
    'black':      $black,
    );
    @each $colorname, $value in $basic-colors {
        .color-bg-#{$colorname} {
            background-color: $value;
        }
    }

//CLASS COLOR SKILLS//

    $skills-colors: (
        'managament': $yellow-light,
        'communication': $red-light,
        'technology': $green-light,
        'soft': $blue-light,
    );
    @each $skill, $value in $skills-colors {
        .#{$skill}{
            background-color: $value;
        }
    }

//CLASS FONT FAMILY//

    $font-family: (
        'Montserrat':       $tittle,
        'Raleway':      $paragraph,
        );
    @each $tiponame, $value in $font-family {
        .tipo-#{$tiponame} {
            font-family: $value;
        }
    }



