//PROGRESS-BAR//
.icon-vector{
    display: flex;
    justify-content: space-between;
}

.linea-vector{
    height: 5px;
    width: 359px;
    box-shadow: 3px 3px 6px rgb(37,39,50,50%);
    background-color: $gray-ultradark;
    position: absolute;
    transform: translate(20px, -28px);
    z-index: -2;
}

.pencil{
    height: 30px;
    width: 30px;
    transform: translate(21px,21px);
}



.point{
    height: 48px;
    width: 48px;
}

//CONTACT//
.part-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: $space-big;
}