//CONTENIDO MAIN//
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills{
    padding-top: $space-little;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
}


.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
}

//CONTENIDO DEL MODAL//

.title-modal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modal-vector{
    width: 60px;
    height: 60px;
}

.skills-list{
    margin-top: $space;
}



