* {
    margin: 0 0 0 0;
}

html  {
  font-size: 100%;
  box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.body-master{
    padding: $unit;
}
@media (min-width: 1200px) {
    .body-master{
        padding: $unit $space $space $space;
    } 
}

.color-bg {
    background-color: $white;
    }

header{
    margin-top: $unit;
}

    //CONTENIDO HEADER//
    .tittle{
        display: flex;
        justify-content: center;
        min-width: 100%;
        max-width: 100%;
    }


@media (min-width: 850px) {
    .desktop{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: $unit $space-big $unit $space-big;
        max-width: 1206px;
    }
}
@media (min-width: 1450px) {
    .desktop{
        margin: 0 $space-big 0 210px;
    } 
}

@media (min-width: 1700px) {
    .desktop{
        margin: 0 $space-big 0 330px;
    } 
}

main{
    padding-top: $space;
}
@media (min-width: 850px) {
    main{
        padding-top: $unit;
    }
    
}
    //CONTENIDO MAIN//
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (min-width: 850px) {
        .container{
            width: 40vw;
            margin: $unit $unit $unit 0;
            flex: 1;
        }
    }
    @media (min-width:1110px){
        .container{
            max-width: 478px;
        }
    }

    .skills{
        padding-top: $space-little;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-around;
    }


    .icons{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 12px;
    }

    //CONTENIDO DEL MODAL//

    .title-modal{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: fit-content;
    }
    
    .skills-list{
        margin-top: $space;
    }

//ENDPAGE//
@media (min-width: 850px){
    .endpage{
        width: 40vw;
        margin: $unit 0 $unit $space-big;
    }
}
@media (min-width: 1110px){
    .endpage{
        max-width: 444px;
    }
}
    //PROGRESS-BAR//
    @media(min-width: 1080px){
        .progressbar{
           max-width: 750px; 
        }
    }
    .icon-vector{
        display: flex;
        justify-content: space-between;
        min-width: 90vw;
    }

    @media (min-width: 850px) {
        .icon-vector{
            min-width: 40vw; 
        }
    }
    @media (min-width: 1100px) {
        .icon-vector{
            min-width: 0;
            max-width: 442px; 
        }
    }
    

    .linea-vector{
        height: 5px;
        min-width: 80vw;
        margin: 0 12px 0 0;
        box-shadow: 3px 3px 6px rgb(37,39,50,50%);
        background-color: $gray-ultradark;
        position: absolute;
        transform: translate(15px, -28px);
        z-index: -2;
    }
    @media (min-width: 300px) {
        .linea-vector{
            min-width: 82vw; 
        }
    }
    @media (min-width: 440px) {
        .linea-vector{
            min-width: 86vw; 
        }
    }
    @media (min-width: 580px) {
        .linea-vector{
            min-width: 87vw; 
        }
    }
    @media (min-width: 670px) {
        .linea-vector{
            min-width: 89vw; 
        }
    }
    @media (min-width: 780px) {
        .linea-vector{
            min-width: 90vw; 
        }
    }
    @media (min-width: 850px) {
        .linea-vector{
            min-width: 34vw; 
        }
    }
    @media (min-width: 880px) {
        .linea-vector{
            min-width: 36vw; 
        }
    }
    @media (min-width: 1110px) {
        .linea-vector{
            min-width: 395px; 
        }
    }


    .pencil{
        height: 30px;
        width: 30px;
        transform: translate(21px,21px);
    }

    .pencil-comm, .pencil-tech, .pencil-soft{
        visibility: hidden;
    }

    .point{
        height: 48px;
        width: 48px;
    }


    //CONTACT//
    .part-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin-top: $space-big;
    }    

