.image-header{
     transform: translate(-18px, 18px);
     height: 530px;
}

.photo, .shadow{
     width: 210px;
     height: 450px;
     background-size: cover;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
}


.photo {
     background-image: url(../../img/Me.png);
     position: relative;

}

.shadow {
     background-image: url(../../img/Sombra.png);
     position: absolute;
     filter: blur(10px);
     transform: translate(6px, 24px);
}