.photo, .shadow{
     width: 210px;
     height: 450px;
     background-size: cover;
     display: flex;
     flex-direction: row;
     
     display: block;
}


.photo {
     background-image: url(../../img/Me.png);
     position: relative;

}

.shadow {
     background-image: url(../../iconos/shadow.svg);
     position: absolute;
     bottom: -8%;
     left: 8%;
     filter: blur(10px);
     
     
}