.image-header{
     transform: translate(-$unit, $space);
     display: flex;
     justify-content: center;
}

@media (max-width: 400px){
     .image-header{
          transform: translate(-24px, 42px);
     }
}

.photo, .shadow{
     width: 180px;
     height: 390px;
     background-size: cover;     
}


.photo {
     background-image: url(../../img/Me.png);
     position: relative;

}

.shadow {
     background-image: url(../../img/Sombra.png);
     position: absolute;
     filter: blur(10px);
     transform: translate(6px, 24px);
}