.image-header{
     transform: translate(-9px, $space-big);
     max-height: 650px;
}
@media (min-width: 320px){
    .image-header{
          transform: translate(-50px, 285px);
     }
}
@media (min-width: 360px){
    .image-header{
          transform: translate(-24px, 235px);
     }
}
@media (min-width: 380px){
     .image-header{
          transform: translate(-36px, 196px);
     }
}
@media (min-width: 450px){
     .image-header{
          transform: translate(-18px, 124px);
     }
}
@media (min-width: 575px){
     .image-header{
          transform: translate(-10px, 48px);
     }
}


.photo, .shadow{
     width: 200px;
     height: 412.06px;
     background-size: cover;     
}
@media (min-width: 320px){
     .photo, .shadow{
          width: 140px;
          height: 288.44px;
     }
}
@media (min-width: 380px){
     .photo, .shadow{
          width: 180px;
          height: 370.85px;
     }
}
@media (min-width: 850px){
     .photo, .shadow{
          width: 220px;
          height: 453.26px;
     }
}
@media (min-width: 1050px){
     .photo, .shadow{
          width: 270px;
          height: 556.28px;
     }
}


.photo {
     background-image: url(../img/me-2.png);
     position: relative;
}

.shadow {
     background-image: url(../img/sombra-2.png);
     position: absolute;
     filter: blur(10px);
     transform: translate(6px, 24px);
}