//BOTTON ESTRUCTURA BASE

.borders{
    padding: 6px;
    box-shadow: 6px 6px 9px $gray-ultradark;
    margin: $space-little $space-little $space $space-little;
}

.covers{
    inset: 0;
    background-color: $gray;
}



//MAIN

.sk{
    border-radius: 12%;
    width: 130px;
    height: 102px;
}

.vectors{
    width: 54px;
    height: 54px;
}

//END-PAGE
.button-contact{
    padding: 3px;
    background-image: $gradient;
    border-radius: 12px;
    width: 132px;
    height: 43px;
}

.insidebutton-contact{
    width: 132px;
    height: 43px;
    border-radius: 12px;
    background-color: $gray-dark;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $p;
    font-weight: $bold;
}

a:link{
    text-decoration: none;
}