.darkmode{
    display: flex;
    justify-content: right;
    padding-right: 6px;
    width: 95vw;
}
@media(min-width:1550px){
    .darkmode{
        width: 1285.5px;
    }
}

.border-dm, .cover-dm{
    height: 42px;
    width: 42px;
    border-radius: 24px;
}

.border-dm{
    display: inline-block;
    padding: 3px;
    background-image: $gradient;
    
}

.cover-dm{
    background-color: $gray;
    box-shadow: inset 1px 1px 3px $black;
    overflow: hidden;
}

.button-vector{
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: $gray-ultradark;
    display: flex;
    justify-content: center;
    transform: translate(2px, 1px);
    box-shadow: 3px 0px 6px $gray-ultradark;
}

.vector{
    align-self: center;
    justify-self: center;
    height: 24px;
    width: 24px;
    color: $gray;
    margin-bottom: 1px;
}

.moon{
    display: none;
}