.background{
    background-color: $gray-dark;
    display: flex;
    flex:-3;
    height: 46px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 0 0;
}

.logo-footer{
    height: fit-content;
    width: fit-content;
}