//BASE MODAL//
.open-modal_input{
    display: none;
}

.open-modal_input:checked + [aria="dialog"]{
    display: block;
}

[aria="dialog"] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(114, 120, 151, 50%);
    z-index: 100;
    
}

.modal-border, .modal-container{
    border-radius: 12px;
}

.modal-border{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 6px;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
}

.modal-container{
    inset: 0;
    position: fixed;
    min-height: fit-content;
    min-width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 12px;
    padding-bottom: $space;
    background-color: $gray-light;
    display: flex;
    flex-direction: column;
}

//MAIN
.nineskills{
    min-width: 88%;
    height: 703px;

}
@media (min-width: 750px){
    .nineskills{
        min-width: 85%;
    }
}
@media (min-width: 1300px){
    .nineskills{
        min-width: 82%;
    }
}
@media (min-width: 1650px){
    .nineskills{
        min-width: 81%;
    }
}

.sevenskills{
    min-width: 86%;
    height: 660px;
}
@media (min-width: 750px){
    .sevenskills{
        min-width: 85%;
    }
}
@media (min-width: 1300px){
    .sevenskills{
        min-width: 84%;
    }
}
@media (min-width: 1650px){
    .sevenskills{
        min-width: 83%;
    }
}

.sixskills{
    min-width: 88%;
    height: 585px;
}
@media (min-width: 750px){
    .sixskills{
        min-width: 84%;
    }
}
@media (min-width: 1300px){
    .sixskills{
        min-width: 83%;
    }
}
@media (min-width: 1650px){
    .sixskills{
        min-width: 81%;
    }
}

//BOTON CERRAR MODAL//
.close{
    width: 30px;
    height: 30px;
}

//BARRA DE LA SKILL//
.skill-modal{
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    min-width: 50%;
}

.tech{
    padding-top: 12px;
}

.skill-bar{
    height: $space-little;
    border-radius: 12px;
    align-self: center;
    width: 77vw;
}

//MAIN

.m{
    background-image: $yellow-g;
    border: 0.5px solid $yellow-ultradark;
}

.c{
    background-image: $red-g;
    border: 0.5px solid $red-ultradark;
}

.t{
    background-image: $green-g;
    border: 0.5px solid $green-ultradark;
}

.s{
    background-image: $blue-g;
    border: 0.5px solid $blue-ultradark;
}