//MASTER.HTML
    //HEADER

    .text-header{
        padding: 0 0 0 $space;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    @media (min-width: 360px){
        .text-header{
            padding: 0 0 0 30px;
        }
    }
    @media (min-width: 560px){
        .text-header{
            padding: 0 0 0 $space-little;
        }
    }
    @media (min-width: 850px){
        .text-header{
            padding: 0 $space-little 0 50px;
        }
    }
    @media (min-width: 1600px){
        .text-header{
            padding: 0 $space-little 0 $unit;
        }
    }

    .h1, .paragraph-header{
        height: auto;
    }

    .h1 {
        font-size: $h1;
        font-weight: $bold;
        color: $black;
        background: -webkit-linear-gradient(left top,#8F6400 6%, #5E081C, #024533, #0B3F47);
        background: linear-gradient(to bottom right, #8F6400 6%, #5E081C, #024533, #0B3F47);
        -webkit-background-clip: text;  
        -webkit-text-fill-color: transparent; 

    }

    .paragraph-header{
        padding: $space-little $unit $space-little 0px;
        font-size: $p;
        font-weight: $regular;
        min-width: 166px;
        max-width: 600px;
    }

    //MAIN

    .text-container {
        font-size: $h2;
        font-weight: $bold;
        color: $gray-ultradark;
    }

    .texts{
        font-size: $p-little;
        font-weight: $regular;
    }

    //MODAL
    .text-modal{
        color: $gray-ultradark;
        font-weight: $bold;
        font-size: $h3;
    }

    .text-skill-bar{
        font-weight: $regular;
        font-size: $p-big;
        padding-bottom: $unit;
        padding-left: 3px;
    }

    //END-PAGE
    .text-top-contact{
        font-size: $p-little;
        font-weight: $bold;
        color: $black;
    }

    .text-button{
        font-size: $p;
        font-weight: $bold;
        color: $white;
    }

//CONTAC.HTML
    //HEADER
    .text-title-contact{
        font-size: $h2;
        font-weight: $bold;
        color: $black;
        text-align: center;
    }

    .text-contact{
        font-size: $p;
        font-weight: $regular;
        color: $black;
        text-align: center;
    }

    //RRSS
    .text-rrss{
        font-size: $p-little;
        font-weight: $regular;
        color: $black;
        padding: $unit;
    }
t
    //FOOTER
    .text-footer{
        font-size: $p-little;
        font-weight: $bold;
        color: $gray-ultradark;
    }

